@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om";
}
<section class="about">
    <h1 class="title1">@ViewData["Title"]</h1>
    <p>Jag heter Nick och studera på Mittuniversitetet, jag älskar C#.</p>
</section>
