/* Common Component
 */
/* Header */
header {
  width: 100%;
  border-bottom: 1px solid gray;
  box-shadow: -0.1px 0.01px 20px -10px var(--dark1);
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
strong {
  font-weight: bold;
  font-size: 3rem;
}
nav ul {
  display: flex;
  width: 50%;
}
nav a {
  font-size: 2rem;
  color: gray;
  text-align: right;
  width: 100%;
  position: relative;
}

/* Main setting */
main {
  height: 100vh;
  width: 100%;
  padding: 1rem 0%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
/* Footer */
footer {
  border-top: 1px solid gray;
  width: 100%;
  height: 5rem;
  padding: 4rem 0% 4rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  box-shadow: -0.1px 0.01px 20px -10px var(--dark1);
}
.footerText {
  max-width: 96rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

/* Hover effect */
nav a::after {
  content: " ";
  top: 2.5rem;
  left: 0;
  position: absolute;
  width: 0%;
  height: 0.1rem;
  background: blue;
}
nav a:hover::after {
  width: 100%;
  transition: 0.5s ease-in-out;
}
/* Date */
b {
  color: gray;
  font-size: 1.5rem;
}
aside {
  padding: 2rem;
  border: 1px solid gray;
  width: 30%;
  height: 90vh;
  box-shadow: -0.1px 0.01px 20px -10px var(--dark1);
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
aside ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0rem;
  height: 30%;
}
aside ul li {
  width: 100%;
  padding: 0%;
}
aside ul li a {
  color: whitesmoke !important;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-left: 0;
  height: 3.5rem;

  background: gray;
  font-size: 2rem;
}
aside ul li a:hover {
  background: black;
}

i {
  font-size: 1.6rem;
}
.active {
  background: black !important;
  color: red;
}
