@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="wellcome">
    <h1 class="title1">Vällkommen!</h1>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium at erat nec pretium. Donec vitae
        accumsan dolor, vel porta massa. Aliquam ac odio nec nulla aliquam posuere vel vel turpis. Phasellus consequat
        tincidunt nunc a efficitur. Etiam quis odio euismod, eleifend arcu sit amet, ultricies libero. Duis commodo
        convallis eros sit amet luctus. Aliquam non pretium massa, eget aliquam nisl. Nullam pellentesque tempus
        porttitor. Aenean suscipit congue erat, at tincidunt neque interdum eget. Praesent dignissim nibh ut erat
        sollicitudin, ut commodo nibh vehicula. Vestibulum congue id sem id facilisis. In hac habitasse platea dictumst.
        Lorem ipsum dolor sit amet,ctetur adipiscing elit.
    </p>

</section>
